.grey-border {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.border {
    border-bottom: 1px solid #ccc;
}

.space {
    height: 50px;
}

.no-right-padd {
    padding-right: 0px !important;
}

.no-left-padd {
    padding-left: 0px !important;
}

.no-padd {
    padding-left: 0px !important;
    padding-right: 0px !important;
}