.grey-border {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #ccc;
}

.border {
    border-bottom: 1px solid #ccc;
}

.space {
    height: 50px;
}

.space-25 {
    height: 25px;
}

.error {
    color: red;
}

.no-right-padd {
    padding-right: 0px !important;
}

.no-left-padd {
    padding-left: 0px !important;
}

.no-padd {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.border-margin {
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loading {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    min-width: 50px;
    height: 18px;
    display: inline-block;
    background: url(/bundles/fabric/images/loading_bar.gif);

}

.no-margn {
    margin-right: 5px !important;
}

.no-rmargn {
    margin-right: 0px !important;
}

.tmrgn-50 {
    margin-top: 50px;
}

.tmrgn-25 {
    margin-top: 25px;
}