<div class="space"></div>
<div class="space"></div>
<div class="container text-center" ng-controller="ProfileController as pf">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>Available Credit</div>
            <div>₹500</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>Amount Lent</div>
            <div>₹ <span class="loading"></span> {[{profileResponce.to_lender_transactions[0].project.to_project_lender_transactions[0].amount}]}</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>EMR</div>
            <div class="loading-container">₹ <span class="loading"></span> {[{profileResponce.to_lender_transactions[0].project.to_project_lender_transactions[0].lender. current_status. expected_monthly_return}]}</div>
        </div>
    </div>
</div>
<div class="space container-fluid"></div>
<div class="space"></div>
<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div  class=" text-center"><h3><span id="investment-summary-text">Investment Summary</span></h3>
    </div>
    <div class="space"></div>
    <div class="col-lg-offset-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="grey-border">
            Total Investment = ₹<span class="loading"></span><span style="min-width:50px">{[{profileResponce.to_lender_transactions[0].project.to_project_lender_transactions[0].amount}]}</span>
        </div>
        <br>

        <div class="grey-border">
            Amount Withdrawn =<span>₹<img class="loading" src="/bundles/fabric/images/loading_bar.gif"></span><span>{[{withdraw}]}</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Total Repayment</th>
                <th class="text-center">₹4000</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Principal Repayment</td>
                <td>₹2000</td>
            </tr>
            <tr>
                <td>Interest Repayment</td>
                <td>₹300</td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>

</div>
<script type="text/javascript">
    $("#nav-dashboard-link").css("color","#0070B9");
</script>