<div class="space"></div>
<div class="space"></div>
<div class="container text-center" ng-controller="ProfileController as pf">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>Available Credit</div>
            <div>₹<span class="loading"></span>{[{profileResponce.lenderWalletBalance}]}</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>Amount Lent</div>
            <div>₹ <span class="loading"></span>
                {[{profileResponce.totalInvestment}]}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>EMR</div>
            <div class="loading-container">₹<span class="loading"></span>
                {[{profileResponce.expectedMonthlyReturn}]}
            </div>
        </div>
    </div>
</div>
<div class="space container-fluid"></div>
<div class="space"></div>
<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class=" text-center"><h3><span id="investment-summary-text">Investment Summary</span></h3>
    </div>
    <div class="space"></div>
    <div class="col-lg-offset-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="grey-border">
            Total Investment = ₹<span class="loading"></span><span style="min-width:50px">{[{profileResponce.totalReturns}]}</span>
        </div>
        <br>

        <div class="grey-border">
            Amount Withdrawn =<span>₹0</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Total Repayment</th>
                <th class="text-center">₹<span style="min-width:50px">{[{profileResponce.totalRepayment}]}</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Principal Repayment</td>
                <td>₹<span style="min-width:50px">{[{profileResponce.principalRepayment}]}</span></td>
            </tr>
            <tr>
                <td>Interest Repayment</td>
                <td>₹<span style="min-width:50px">{[{profileResponce.interestRepayment}]}</span></td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>

</div>
<script type="text/javascript">
    $("#nav-dashboard-link").css("color", "#0070B9");
</script>