<div id="" class="img-responsive page-height no-padd">
    <img id="home-bc-img" src="/bundles/fabric/images/home2.png" class="img-responsive">
    <!-- </div>
    <div id="banner">
        <img id="bc-img-banner" src="/bundles/fabric/images/index/banner.jpg" class="img-responsive">
    </div> -->
</div>
<div id="about-container" class="container-fluid">
    <div id="about-energy-desc">
        1.4 billion People in the world have no access to power and 400 million of them live in rural India. Lytyfy was founded with a vision to eradicate energy inequity in India and our mission is to provide reliable and affordable energy services to low income rural households. We promote clean energy access in rural India by synergizing community, technology and finance.
    </div>
</div>
<div id="solutions-outer-container" class="container">
    <div id="solutions-container" class="row">
        <div class=" container col-lg-4 col-md-4 col-sm-4">
            <div id="solution-img" class="graphics"></div>
            <div id="solution-desc">
                Lytyfy is a lending platform for providing quality solar energy solutions to low income rural families at their doorsteps.
            </div>
        </div>
        <div class=" container col-lg-4 col-md-4 col-sm-4">
            <div id="csr-img" class="graphics"></div>
            <div id="consulting-desc">
            The major stumbling block to finding a way out of energy poverty is lack of access to finance and with Lytyfy we are determined to change that.
            </div>
        </div>
        <div class="container col-lg-4 col-md-4 col-sm-4">
            <div id="consulting-img" class="graphics"></div>
            <div id="csr-desc" class="sl-box1">
                We support the creation of self sustaining markets and factor in customer's ability to pay while designing energy and credit solutions for them.
            </div>
        </div>
    </div>
</div>
<script>
    var h = $(window).height();
    $("#home-bc-img").css("height", h-nav_height);
</script>




<!-- <div id="light-a-life" class="container">Light a life. Together</div>
<div class="container">
    <center>
        <div class="container">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div id="">
                    <img class="menu-type img-responsive" src="/bundles/fabric/images/newbihar.png" alt="loding....">
                </div>
            </div>
            <div id="project-details-container" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="project-details"><span> 42 Backers</span></div>
                <div class="project-details"><span> Quantum : 75000</span></div>
                <div class="project-details"><span>28 Days Left</span></div>
                <a id="register-btn" href="/#/project">
                    <div id="learn-more" class="project-details"><span>Learn More</span></div>
                </a>
            </div>
        </div>
    </center>
    <div class="space"></div>
    <div class="border">
    </div>
    <div id="info-graphics-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4">
            <img class="menu-type img-responsive" src="/bundles/fabric/images/info1.jpg" alt="loding...."/>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img class="menu-type img-responsive" src="/bundles/fabric/images/info3.jpg" alt="loding...."/>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img class="menu-type img-responsive" src="/bundles/fabric/images/info2.jpg" alt="loding...."/>
        </div>
    </div>
</div> -->