
<br>
<div class="container">
	<center>
		<div id="first-row" class="container">
			<div  class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div id="">
					<img class="menu-type img-responsive" src="/bundles/Fabric/images/newbihar.png" alt="loding....">
				</div>
			</div>
			
			<div id="project-details-container" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="project-details"><span> 42 Backers</span></div>
				<div class="project-details"><span> Quantum : 75000</span></div>
				<div class="project-details"><span>28 Days Left</span></div>
				<a id="register-btn">
					<div id="learn-more" class="project-details"><span>Learn More</span></div>
				</a>
			</div>
		</div>
	</center>
	<div class="border">
	</div>
	<div id="info-graphics-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-4">
			<img class="menu-type img-responsive" src="/bundles/Fabric/images/info1.jpg" alt="loding...."  />
		</div>
		 <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			<img class="menu-type img-responsive" src="/bundles/Fabric/images/info3.jpg" alt="loding...."  />
		</div>
		<div  class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			<img class="menu-type img-responsive" src="/bundles/Fabric/images/info2.jpg" alt="loding...."  />
		</div>
	</div>
</div>

<div id="footer" class="container-fluid">
	<div id="social-icons-container">
		<ul id="social-icon-container">        
			<li id="fb"><a href="https://www.facebook.com/pages/Deviab/1675668492652876?__mref=message_bubble" target="_blank"><img src="/bundles/deviabapp/images/index/fb.png"></a></li>
			<li id="tw"><a href="https://twitter.com/@deviab_energy" target="_blank"><img src="/bundles/deviabapp/images/index/tw.png"></a></li>
			<li id="in"><a href="#"><img src="/bundles/deviabapp/images/index/in.png"></a></li>
		</ul>			
	</div>
	<div id="footer-text">
		<div id="email">info@deviab.com</div>
		<div id="copy-right">Copyright &copy Deviab Research and Implementation Pvt Ltd 2015</div>
	</div>
</div>