<div class="container">
	<br>
	<div  class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div id="">
			<img class="menu-type img-responsive" ng-src="/bundles/Fabric/images/newbihar.png" alt="loding...." src="/bundles/Fabric/images/portfolio.jpg">
		</div>
	</div>
	<div id="project-details-container" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="project-details"><span> 42 Bakers</span></div>
		<div class="project-details"><span> Quantion : 75000</span></div>
		<div class="project-details"><span>28 Days Left</span></div>
		<div class="project-details"><span>Register</span></div>
	</div>
	<div id="info-graphics-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-4">
			<img class="menu-type img-responsive" ng-src="/bundles/Fabric/images/info1.jpg" alt="loding...." src="/bundles/Fabric/images/portfolio.jpg">
		</div>
		 <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			<img class="menu-type img-responsive" ng-src="/bundles/Fabric/images/info3.jpg" alt="loding...." src="/bundles/Fabric/images/portfolio.jpg">
		</div>
		<div  class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
			<img class="menu-type img-responsive" ng-src="/bundles/Fabric/images/info2.jpg" alt="loding...." src="/bundles/Fabric/images/portfolio.jpg">
		</div>
	</div>
</div>