<form method="post" name="0.1_payuForm" target="_blank" action="https://test.payu.in/_payment.php">
    <input type="hidden" name="key" value="Bj880P">
    <input type="hidden" name="hash"
           value="7d969094298c8286c088338bdfe85723c9bb0c244e668d0c85132d6f5aba6e6f64f3608f7396179bf47ff6c7fc4db4fe5d72fd7af1bdc0c44dce133d38c">
    <input type="hidden" name="txnid" value="dilip14101990">
    <table>
        <tr>
            <td><b>Mandatory Parameters</b></td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input name="amount" value=""></td>
            <td>First Name:</td>
            <td><input name="firstname" value=""></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input name="email"></td>
            <td>Phone:</td>
            <td><input name="phone"></td>
        </tr>
        <tr>
            <td>Product Info:</td>
            <td colspan="3"><textarea name="productinfo"></textarea></td>
        </tr>
        <tr>
            <td>Success URI:</td>
            <td colspan="3"><input name="surl" size="64"></td>
        </tr>
        <tr>
            <td>Failure URI:</td>
            <td colspan="3"><input name="furl" size="64"></td>
        </tr>

        <tr>
            <td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" size="64"></td>
        </tr>

        <tr>
            <td><b>Optional Parameters</b></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input name="lastname"></td>
            <td>Cancel URI:</td>
            <td><input name="curl" value=""></td>
        </tr>
        <tr>
            <td>Address1:</td>
            <td><input name="address1"></td>
            <td>Address2:</td>
            <td><input name="address2"></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input name="city"></td>
            <td>State:</td>
            <td><input name="state"></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><input name="country"></td>
            <td>Zipcode:</td>
            <td><input name="zipcode"></td>
        </tr>
        <tr>
            <td>UDF1:</td>
            <td><input name="udf1"></td>
            <td>UDF2:</td>
            <td><input name="udf2"></td>
        </tr>
        <tr>
            <td>UDF3:</td>
            <td><input name="udf3"></td>
            <td>UDF4:</td>
            <td><input name="udf4"></td>
        </tr>
        <tr>
            <td>UDF5:</td>
            <td><input name="udf5"></td>
            <td>PG:</td>
            <td><input name="pg"></td>
        </tr>
        <tr>

            <td colspan="4"><input type="submit" value="Submit"></td>

        </tr>
    </table>
</form>