<div class="space"></div>
<div class="space"></div>
<div class="container text-center" ng-controller="ProfileController as pf">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>Available Credit</div>
            <div>₹500</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>Amount Lent</div>
            <div>₹{[{profileResponce.to_lender_transactions[0].project.to_project_lender_transactions[0].amount}]}</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="grey-border">
            <div>EMR</div>
            <div>₹{[{profileResponce.to_lender_transactions[0].project.to_project_lender_transactions[0].lender. current_status. expected_monthly_return}]}</div>
        </div>
    </div>
</div>
<div class="space"></div>
<div class="space"></div>
<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class=" text-center"><h3>Investment Summery</h3>

        <div class="border" style="margin-left:560px;width:20%"></div>
    </div>
    <div class="space"></div>
    <div class="col-lg-offset-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="grey-border">
            Total Investment = ₹<span>{[{profileResponce.to_lender_transactions[0].project.to_project_lender_transactions[0].amount}]}</span>
        </div>
        <br>

        <div class="grey-border">
            Amount Withdraw =<span>₹{[{withdraw}]}</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Total Repement</h3></th>
                <th class="text-center">₹4000</h3></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Principle Repement</td>
                <td>₹2000</td>
            </tr>
            <tr>
                <td>Interest Repement</td>
                <td>₹300</td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>

</div>