<!DOCTYPE html>
<html>
	<head>
		<title>DEVIAB</title>
		<meta name="description" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<link rel="stylesheet" href="/bundles/deviabapp/css/style.css"/>
		<link rel="stylesheet" href="/bundles/deviabapp/css/navigation.css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>	
		<!-- Load ScrollTo -->
		<script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"></script>
		<!-- Load LocalScroll -->
		<script src="http://flesler-plugins.googlecode.com/files/jquery.localscroll-1.2.7-min.js"></script>
		<script>
			var scrollCount =0;
$(document).ready(function()
{	

	var h=$( window ).height();
	$(".inner-bg").css({'height':h-55+'px'});
	$(".box").css({'height':h+'px'});
	$("#small-box-container").css({'height':h-200+'px'});
	$("#solutions-container").css({'height':h-200+'px'});
	$("#careers-container").css({'height':h-200+'px'});
	$("#careers-link").css({'height':h-200+'px'});
	$(".small-box").css({'height':h+'px'});
	$(".sl-box1").css({'height':h+'px'});
	$(".sl-box2").css({'height':h+'px'});
	$(".link").css({'height':((h-200)/3)+'px','padding-top':((h-200)/6)+'px'});
	// Scroll the whole document 
	$('nav').localScroll({
	   target:'body'
	});		
	// Scroll the content inside the #scroll-container div
	$('#about-links').localScroll({
	   target:'#small-box-container'
	});	
	$('#solutions-links').localScroll({
	   target:'#solutions-container'
	});		
	$('#careers-links').localScroll({
	   target:'#careers-container'
	});	
	$('.ae').trigger('click');
	$('.ofg').trigger('click');
	$('#cr').trigger('click');

	$("body").keydown(function(ev){
        if(ev.which == 40 ) {
        	if(scrollCount == 0) {
        		scrollCount++;
           		$("html, body").animate({ scrollTop: h+"px" });
           	} else if(scrollCount == 1) {
           		$('.tm').trigger('click');
           		$("html, body").animate({ scrollTop: h+"px" });
           		scrollCount++;
           	} else if (scrollCount == 2) {
           		scrollCount++;
           		$('.am').trigger('click');
           		$("html, body").animate({ scrollTop: h+"px" });
           	} else if (scrollCount == 3) {
           		scrollCount++;
           		$("html, body").animate({ scrollTop: h*2+"px" });
           	} else if (scrollCount == 4) {
           		scrollCount++
           		$('.cs').trigger('click');
           		$("html, body").animate({ scrollTop: h*2+"px" });
           	} else if (scrollCount == 5) {
           		scrollCount++;
           		$('.csn').trigger('click');
           		$("html, body").animate({ scrollTop: h*2+"px" });
           	} 	else if (scrollCount == 6) {
           		scrollCount++;
           		$("html, body").animate({ scrollTop: h*3+"px" });
           	}
           	else if (scrollCount == 7) {
           		scrollCount++;
           		$('.vol').trigger('click');
           		$("html, body").animate({ scrollTop: h*3+"px" });
           	} 
           	else if (scrollCount == 8) {
           		scrollCount++;
           		$("html, body").animate({ scrollTop: h*4+"px" });
           	}           	
        }
        if(ev.which == 38 ) {
        	if(scrollCount == 9) {
        		scrollCount=7;
        		$('#careers').trigger('click');
           		$("html, body").animate({ scrollTop: h*3+"px" });
           	} else if(scrollCount == 8) {
           		scrollCount--;
           		$('#careers').trigger('click');
           		$("html, body").animate({ scrollTop: h*3+"px" });
           	} else if(scrollCount == 7) {
           		scrollCount=4;
           		$('.ofg').trigger('click');
           		$("html, body").animate({ scrollTop: h*2+"px" });
           	} else if(scrollCount == 5) {
           		scrollCount--;
           		$('.ofg').trigger('click');
           		$("html, body").animate({ scrollTop: h*2+"px" });
           	} else if(scrollCount == 6) {
           		scrollCount=4;
           		$('.ofg').trigger('click');
           		$("html, body").animate({ scrollTop: h*2+"px" });
           	} else if (scrollCount == 4) {
           		scrollCount=1;
           		$('.ae').trigger('click');
           		$("html, body").animate({ scrollTop: h+"px" });
           	} else if (scrollCount == 2) {
           		scrollCount--;
           		$('.ae').trigger('click');
           		$("html, body").animate({ scrollTop: h+"px" });
           	} else if (scrollCount == 3) {
           		scrollCount--;
           		$('.tm').trigger('click');
           		$("html, body").animate({ scrollTop: h+"px" });
           	} else if (scrollCount == 1) {
           		scrollCount=0;
           		$("html, body").animate({ scrollTop: "0px" });
           	} 
        }
	});			
});

		</script>
	
	<!-- javascript that will initiate jQuery and the LocalScroll plugin -->
	
	</head>
	<body ng-app="myApp">

		<nav class="navbar navbar-default" >
		  	<div id="navigation" class="container-fluide">
		    	<!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header col-lg-5 col-md-3 col-sm-1">
			      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
			      	<a class="navbar-brand logo pull-left" href="#">deviab</a>
		    	</div>

			    <!-- Collect the nav links, forms, and other content for toggling -->

			    <div class="container-fluid pull-right collapse navbar-collapse col-lg-7 col-md-9 col-sm-11" id="bs-example-navbar-collapse-1 navbar-right">
			      	<ul class="nav navbar-nav ">
				        <li><a id="home" href="">Home <span class="sr-only">(current)</span></a></li>
				        <li class="dropdown">
				          <a id="about" href="#box1">About</a>
				        </li>
				        <li><a id="solutions" href="#box2">Solutions</a></li>
				         <li><a id="careers" href="#box3">Careers</a></li>
			      	</ul>
			      	<ul class="nav navbar-nav ">
				        <li><a href="#">Sign In</a></li>
				        <li><a href="#">Join Us</a></li>
				    </ul>
				    <form class="navbar-form navbar-right "  role="search">
				        <div class="form-group ">
				          <input type="text" class="form-control" placeholder="Search">
				        </div>
			        	
			      	</form>
			    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="coming-soon">
	        <div class="inner-bg">
	        	<div class="banner-text">
			        <h2>Power to Everyone Everywhere</h2>
			        <button type="button" class="btn btn-primary">Help Now</button>  
			    </div>        
	        </div>
		</div>
		<div class="abs">
			<div id="box1" class="box container-fluid">
				<div id="about-img"> </div>
				<div id="about-links" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
					<div class="link"><a class="ae" style="color:#3B78E7" href="#about-energy">Deviab Energy</a></div>
					<div class="link"><a class="tm" style="color:#929292" href="#about-team">Team</a><br></div>
					<div class="link"><a class="am" style="color:#929292" href="#about-mentors">Mentors</a></div>
				</div>
				<div id="small-box-container" class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
					<div id="about-energy" class="small-box">
						Deviab Energy is a social enterprise which aims to promote adoption of clean energy solutions in rural areas which are deprived of affordable and reliable power. We help our customers understand and adopt clean energy technologies by creating a favourable ecosystem based on the local factors.<br> <br>
						&nbsp &nbsp Currently around 1.4 billion people in the world still have no access to power and 400 million of them live in rural areas of India. In India per capita consumption in rural households is only 8 units per month as compared to 24 units in urban households. The reason for such low level of consumption is not low demand, but poor and unreliable supply of electricity. Poor access to energy facilities in rural areas is a result of poor grid connectivity and lack of distribution network for renewable and clean energy technologies. <br> <br>
						&nbsp &nbspConventional perception is that people in rural areas cannot afford progressive and modern energy technologies but our experience of working in rural areas has made us believe that most of them are willing to pay for a reliable source of energy provided the product and service is customized as per their need and cash flow. A simple and customised solar energy system can meet basic energy needs of a rural household and reduce the problem of energy 
						poverty plaguing more than 40% of our country living in rural areas. <br><br>
						&nbsp &nbsp Electricity is one of the	basic necessities of life and lack of energy services impact upon all aspects of people’s lives and livelihoods. The introduction of even a limited source of electrical power can have immediate and significant economic, health and communication benefits for the people 
						suffering from energy poverty. This shows the scale of the problem under consideration and its underlying potential for an enterprise based model.
					</div>
					<div id="about-team" class="small-box col-lg-12 col-sm-12 col-md-12">
						<div class="col-lg-12 col-sm-12 col-md-12"> 
							<div id="member-img" class="col-lg-3 col-sm-3 col-md-3">
								<img id="deepak-img" src="/bundles/deviabapp/images/team/sdeepak-img.jpg" alt="S. Deepak Kumar" class="img-circle">
							</div>
							<div class="col-lg-9">
								<h4 id="nm"> S Deepak Kumar: Cofounder and Team Lead- Operations</h4>				
							</div>
							<div id="member-desc" class="col-lg-9 col-sm-9 col-md-9">						
								Deepak has been working in the rural areas of Bihar for more than 3 years in various capacities. He has created a robust supply chain in rural areas which has led to installation of more than 10,000 Solar Home Lighting Systems. He has extensive experience in establishing supply chain of solar based products using community platforms. He holds a Masters degree in Environmental Management from IIFM and a Bachelor’s degree in Mechanical Engineering from NIT, Raipur. He has been selected as an Acumen India Fellow for the 2015 Cohort.
							</div>							 
						</div>
						<div class="border-bottom col-lg-12 col-sm-12 col-md-12"></div>
						<div class="col-lg-12 col-sm-12 col-md-12"> 
							<div id="member-img" class="col-lg-3 col-sm-3 col-md-3">
								<img id="vishnu-img" src="/bundles/deviabapp/images/team/vishnu-img.jpg" alt="S. Deepak Kumar" class="img-circle">
							</div>
							<div class="col-lg-9">
								<h4 id="nm"> Vishnu Raghunathan: Cofounder and Team Lead- Business Development</h4>	
							</div>
							<div id="member-desc" class="col-lg-9 col-sm-9 col-md-9">						
								Vishnu has spent more than 3 years in rural areas where he has implemented many community driven projects. He has worked with farmer collectives, women shg groups and their federations, govt departments, producer companies, etc to implement projects related to microfinance, renewable energy and has also provided market linkages for agricultural produce. He has done his post graduate diploma in rural management from IRMA and Bachelor’s degree in Electrical and Electronics Engineering from Sastra University, Thanjavur.ur. He has been selected as an Acumen India Fellow for the 2015 Cohort.
							</div>							 
						</div>
					</div>
					<div id="about-mentors" class="small-box  col-lg-12 col-sm-12 col-md-12">
						about-mentors
					</div>
				</div>
			</div>
			<div id="box2" class="box">
				<div id="solutions-img"></div>
				<div id="solutions-links" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
					<div class="link" ><a class="ofg" href="#solar-solution">Off-grid solar solutions</a></div>
					<div class="link"><a class="cs" href="#consulting-solution">Consulting</a></div>
					<div class="link"><a class="csn" style="color:#929292" href="#csr-solution">CSR projects</a></div>
				</div>
				<div id="solutions-container" class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
					<div id="solar-solution" class="sl-box1">
						<br>
						&nbsp Currently around 1.4 billion people in the world still have no access to power and 400 million of them live in rural areas of India. In India per capita consumption in rural households is only 8 units per month as compared to 24 units in urban households. The reason for such low level of consumption is not low demand, but poor and unreliable supply of electricity. Poor access to energy facilities in rural areas is a result of poor grid connectivity and lack f distribution network for renewable and clean energy technologies.
						<br>
						&nbsp Currently around 1.4 billion people in the world still have no access to power and 400 million of them live in rural areas of India. In India per capita consumption in rural households is only 8 units per month as compared to 24 units in urban households. The reason for such low level of consumption is not low demand, but poor and unreliable supply of electricity. Poor access to energy facilities in rural areas is a result of poor grid connectivity and lack of distribution network for renewable and clean energy technologies.
						&nbsp &nbspConventional perception is that people in rural areas cannot afford progressive and modern energy technologies but our experience of working in rural areas has made us believe that most of them are willing to pay for a reliable source of energy provided the product and service is customized as per their need and cash flow. A simple and customised solar energy system can meet basic energy needs of a rural household and reduce the problem of energy 
						poverty plaguing more than 40% of our country living in rural areas. <br>
						&nbsp &nbsp Electricity is one of the	basic necessities of life and lack of energy services impact upon all aspects of people’s lives and livelihoods. The introduction of even a limited source of electrical power can have immediate and significant economic, health and communication benefits for the people 
						suffering from energy poverty. This shows the scale of the problem under consideration and its underlying potential for an enterprise based model.
					</div>
					<div id="consulting-solution" class="sl-box1">Small-Box #2</div>
					<div id="csr-solution" class="sl-box1">Small-Box #3</div>
				</div>
			</div>
			<div id="box3" class="box">
				<div id="solutions-img"></div>
				<div id="careers-links" class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
					<div class="link"><a id="cr" href="#joinus">Careers</a></div>
					<div class="link"><a class="vol" href="#volunteers">Volunteers</a></div>
				</div>
				<div id="careers-container" class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
					<div id="joinus" class="sl-box1">
						Currently around 1.4 billion people in the world still have no access to power and 400 million of them live in rural areas of India. In India per capita consumption in rural households is only 8 units per month as compared to 24 units in urban households. The reason for such low level of consumption is not low demand, but poor and unreliable supply of electricity. Poor access to energy facilities in rural areas is a result of poor grid connectivity and lack f distribution network for renewable and clean energy technologies.
						Currently around 1.4 billion people in the world still have no access to power and 400 million of them live in rural areas of India. In India per capita consumption in rural households is only 8 units per month as compared to 24 units in urban households. The reason for such low level of consumption is not low demand, but poor and unreliable supply of electricity. Poor access to energy facilities in rural areas is a result of poor grid connectivity and lack f distribution network for renewable and clean energy technologies.
						########################################
					</div>
					<div id="volunteers" class="sl-box1">Small-Box #2</div>
				</div>
			</div>			
		</div>
		<div id="footer">
			{# <div id="graph" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			</div>
			<div id="twitter" class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
			</div> #}
			<div id="contactus" class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
				<div>Contact us</div>
				<div>Adress : Near Katora Talab  Raipur 492001 </div>
				<div>Contact No : +91 98 7654 3210 </div>
				<div>Email : connect@deviab.com</div>

			</div>
		</div>
		

        <script src="/bundles/deviabapp/js/jquery.backstretch.min.js"></script>
        <script src="/bundles/deviabapp/js/scripts.js"></script>
        <script src="/bundles/deviabapp/js/scroll.js"></script>
	</body>
	<script type="text/javascript">
	$(".abs a").click( function() {
		$(".abs a").css({'color':'#929292'});
    	$(this).css({'color':'#3B78E7'});
 	});
 	$("#navigation a").click( function() {		
    	var link = $(this).attr('id');
    	if(link == 'about') {
    		scrollCount =1;
    	} else if(link == 'solutions') {
    		scrollCount = 4;
    		$("html, body").animate({ scrollTop: h*2+"px" });
    	} else if(link == 'careers') {
    		scrollCount = 7;
           	$("html, body").animate({ scrollTop: h*3+"px" });
    	}


  	});
	</script>
</html> 

