#project-details-container {

}

.project-details {
	background-color: #9c9c9c;
	color: #fff;
	height: 55px;
	text-align: center;
	margin-top: 20px;
	padding-top: 15px;
	border-radius: 35px;
	width:218px;
	border: none;
}

#learn-more-btn {
	background-color: #9c9c9c;
	color: #fff;
	height: 55px;
	text-align: center;
	margin-top: 20px;
	border-radius: 35px;
	width:218px;
	border: none;
}
#info-graphics-container {
	margin-top: 20px;
}

#first-row {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#register-btn {

}
a#register-btn:hover {
	cursor: pointer;
	list-style: none;
	color: red;
	text-decoration: none;
}

div#learn-more:hover{
    background-color: #0070B9;
}

/*8239277089 hyd -> yesh
6745658132 rpr -> hyd*/