body {
    background-color: rgb(247,247,247);
    /*overflow: hidden;*/
}
@font-face {
 font-family: 'neuropol';
  src: url(NEUROPOL.ttf);
}
.inner-bg {
    height:650px;
    padding: 55px 0 60px 0;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.coming-soon h2 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 300px;
    text-transform: uppercase;
    text-shadow: 0 1px 7px rgba(0,0,0,1);
}

.coming-soon p {
    margin-top: 70px;
    font-size: 18px;
    line-height: 36px;
    text-shadow: 0 1px 7px rgba(0,0,0,1);
}

/*<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 500px; width: 1288px; position: fixed;"></div>*/
.backstretch {
   /* position: fixed !important;*/
    z-index: 0;
}

.banner-text {
    margin-top: 170px;
}
.width {
	width:57% !important;
}
.header01{
    color:#0070B9;
    font-size: 25px;
    font-weight: bold;
}

.about {
    z-index: 50 !important;
/*    position: relative;*/
    background-color: #FFF;
}
#about-energy {
    color: black;
    font-family: Snippet;
    
font-style: oblique;
font-size: 16px;
text-align: justify;
    
    padding-top: 50px;
    text-align: justify;
}
#about-links, #solution-linkes, #career-links {
    border-right:4px solid #0070B9 !important;

}
#solutions-img {
    background-image: url(../images/index/solution.jpg);    
    height: 200px;
}
#about-img {
    background-image: url(../images/index/about.jpg);    
    height: 200px;
}
.link {
    text-align: center;
    font-size: 25px;
}
.navbar {
  border-radius: 0px ;
}
.navbar-nav>li>a {
  padding-top: 15px!important;
} 

.box {
    
    height: 300px;

    
    color:#929292;
    /*padding: 10px;
    
    margin: 100px 0 0 0;*/
}

#box1 {
    /*margin: 300px 0 0 0;*/

    background: #FFF;
}

#box2 {
    background: #FFF;
    /*padding-top: 20px;*/
}

#box3 {
    background: #FFF;
}



/* CSS for the small boxes that will scroll inside a div */

#small-box-container {
    /*border: 1px solid black;*/
    /*padding: 20px;*/
    color: black;
    height: 200px;
    
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.small-box {
    
    color: #fff;
    /*padding: 10px;*/
    
    
    
    margin: 0 0 50px 0;
}

#small-box1 {
    background: #C0C0C0;
}

#small-box2 {
    background: #C0C0C0;
}

#small-box3 {
    background: #C0C0C0;
}
.anav {
    /*position:fixed;*/
}

.navfix {
    
    z-index: 100;
    background-color: #FFF;    
}
.tm,.am,.cs,.cns, {
    color: #929292 ;
}
.abs a:hover {
    color: #0070B9 ;
}
.abs a:active {
    color: #0070B9 ;
}
a {
    cursor: pointer;
    font-weight: bold;
}
.abs {
    /*position: absolute;*/
    z-index: 100;
}
#member-img {
    margin-top: 30px;
}
#member-desc {
    color: black;
font-family: Snippet;
    
font-style: oblique;
font-size: 16px;
text-align: justify;
}
#designation {
    font-size: 10px;
}
#solutions-container {
    border-left: 4px solid #0070B9;
    /*padding: 20px;*/
    
    height: 200px;
    
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
#careers-container {
    border-left: 4px solid #0070B9;
    /*padding: 20px;*/
    
    height: 200px;
    
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
#deepak-img,#vishnu-img {
    height: 150px;
}
#footer {
    background: #3B78E7;
    height:250px;
    /*position:relative;*/
}

#graph {
    height:250px;
    background-image: url(../images/index/chart.jpg);   
    background-repeat: no-repeat; 
}
#twitter {
    height:250px;
    background: #C0C0C0;

}
#contactus {
    padding-top: 100px;
    height:150px;
    text-align: center;
    font-size: 24px;
    background: #3B78E7;
    color: #FFF;
}
.border-bottom {
    border-bottom: 1px solid #0070B9;
    margin: 20px 5px;
}    
    
    
    #nm {
        color:#3B78E7;
        font-weight: bold;
    }
.ofg {
color:#3B78E7 !important;

}