body {
background-color: rgb(247,247,247);
}
@font-face {
 font-family: 'neuropol';
  src: url(NEUROPOL.ttf);
}
.logo {
    font-family: neuropol !important;
    font-size: 25px !important;
    color: #FFF !important;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF !important;
}
.navbar-default {
    background-color: #0070B9 !important;
    border-color: #0070B9 !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0070B9 !important;
    background-color: #FFF !important;
}
.navbar {
    
    min-height: 43px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

.navbar-nav>li>a {
padding-top: 10px;
padding-bottom: 15px;
color: rgb(247,247,247) !important;
font-weight: bold;

}
.nav>li>a:focus, .nav>li>a:hover {
text-decoration: none;
background-color: rgb(247,247,247);
color: rgb(0, 112, 185) !important;
}
.navbar {
position: fixed !important; 
width: 100%; 
z-index: 55;
}
/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.inner-bg {
    height:700px;
    padding: 55px 0 60px 0;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.coming-soon h2 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 300px;
    text-transform: uppercase;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.coming-soon p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 36px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

/*<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 500px; width: 1288px; position: fixed;"></div>*/
.backstretch {
    position: fixed !important;
    z-index: 0;
}

.banner-text {
    margin-top: 200px;
}
.width {
	width:57% !important;
}
.header01{
    color:#0070B9;
    font-size: 25px;
    font-weight: bold;
}

.aboutus {
    z-index: 50 !important;
    position: relative;
    background-color: #FFF;
}

.social a {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 3px;
    padding-top: 20px;
}
.social {
    text-align: center;
    padding-left:12px;
    width:65px;
    height:auto;
    margin-top:150px;
}
.facebook {
    background: url(../images/social-icons/facebook.png);
    background-repeat: none;
}
.googleplus {
    background: url(../images/social-icons/gplus.png);
    background-repeat: none;
}
.twitter {
    background: url(../images/social-icons/twitter.png);
    background-repeat: none;
}

.dribbble {
    background: url(../images/social-icons/linkedin.png);
    background-repeat: none;
}
#show-social-plugin {
    display: none;
}
#social-icons {position: relative;  }
#show-social-plugin {position: absolute;margin-left:-20px !important; 


}
.social-text {
 display: inline-block ; vertical-align: middle;

}