<!DOCTYPE html>
<html>

<head>


<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
<link rel="stylesheet" href="/bundles/deviabapp/css/navigation.css"/>
<link rel="stylesheet" href="/bundles/deviabapp/css/style.css"/>
<link rel="stylesheet" href="/bundles/deviabapp/css/listing.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">	
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/bundles/deviabapp/js/app/app.js"></script>
<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<link rel="stylesheet" href="assets/css/style.css">

<script src= "/bundles/deviabapp/js/app/app.js"></script>













<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src= "app.js"></script>

<script src= "http://vitalets.github.io/checklist-model/checklist-model.js"></script>
</head>

<body>




<div ng-app="app" ng-controller="filterController">
  <label ng-repeat="s in states">
  <input type="checkbox" checklist-model="filterData.selectedStates" checklist-value="s"> {[{s}]}</label>  <br>
  <button ng-click="checkAll()">check all</button>
  <button ng-click="uncheckAll()">uncheck all</button>

  <br><br>
  filterData : {[{ filterData.selectedStates | json }]}
</div>




</body>
</html>





