<!DOCTYPE html>
<html>
	<head>
		<title>Deviab | Power to Everyone Everywhere</title>
		<link rel="shortcut icon" href="/bundles/deviabapp/images/favicons/favicon.ico"/>
		<meta name="description" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/bundles/deviabapp/css/style.css"/>
		<link rel="stylesheet" href="/bundles/deviabapp/css/navigation.css"/>
</head>
<body ng-app="myApp" id="home-container">
	<nav class="navbar navbar-default fixed-nav-bar">
	  	<div class="container-fluid">
	    	<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header col-lg-5 col-md-3 col-sm-1">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-show-hide">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
		      	<div class="container-fluid row col-xs-10">
		      	<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
		      		<a class="navbar-brand logo pull-left" href="#">deviab</a>
	    		</div>
	    		<div id="sub" class="col-lg-12 col-sm-12 col-xs-12 col-md-12">Power to Everyone, Everywhere
	    		</div>
	    		</div>
	    	</div>
		    <div class="container-fluid pull-right collapse navbar-collapse col-lg-7 col-md-9 col-sm-10 col-xs-10" id="nav-show-hide">
		      	<ul class="nav navbar-nav ">
			        <li><a id="home" href="#home-container" class="nav-link">HOME <span class="sr-only">(current)</span></a></li>
			        <li><a id="about" href="#about-outer-container" class="nav-link">ABOUT</a></li>
			        <li><a id="solutions" href="#solutions-outer-container" class="nav-link">SOLUTIONS</a></li>
			        <li><a id="careers" href="#footer" class="nav-link">CAREERS</a></li>
		      		<li><a id="contact" href="#footer" class="nav-link">CONTACT</a></li>
			    </ul>			    
		    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div id="overlay"></div>
	<div id="back-img" class="img-responsive page-height">
		<div id="bc-img-container">
			<img id="bc-img" src="/bundles/deviabapp/images/backgrounds/bc-img.jpg" class="img-responsive">
		</div>
		<div id="banner">
			<img id="bc-img-banner" src="/bundles/deviabapp/images/index/banner.jpg" class="img-responsive">
		</div>
	</div>
	<div id="about-outer-container" class="container-fluid page-height">
		<div id="about-container">					
			<div id="about-energy-heading">
				<div id="border-bottom"><h1 id="about-deviab">deviab</h1></div>
				<div class="devider"></div>
			</div>
			<div id="about-energy-desc">
				1.4 billion People in the world have no access to power and 400 million of them live in rural India. Deviab was founded with a vision to eradicate  energy inequity in India and our mission is to provide reliable and affordable energy services to low income rural households. We promote clean energy access in rural India by synergizing technology, microfinance and community engagement.
			</div>
		</div>
	</div>
	<div id="solutions-outer-container" class="container-fluid page-height">
		<div id="solutions-container" class="row">
			<div class=" container col-lg-4 col-md-4 col-sm-4">
				<div id="solution-img" class="graphics"></div>
				<div id="solution-desc">
					Custom designed, high quality off grid solar products for rural  markets. We support the creation of self sustaining markets and factor in customer's ability to pay while designing energy solutions for them.
				</div>
			</div>
			<div class=" container col-lg-4 col-md-4 col-sm-4">
				<div id="consulting-img" class="graphics"></div>
				<div id="consulting-desc">
				Consultation, evaluation & project development support to companies, entrepreneurs and organizations. We plan, design and install small-medium scale solar projects that  are reliable, economical and sustainable.
				</div>
			</div>
			<div class="container col-lg-4 col-md-4 col-sm-4">
				<div id="csr-img" class="graphics"></div>
				<div id="csr-desc" class="sl-box1">
					Technical and tailored capacity building programs on solar energy projects for our clients.
				</div>
			</div>
		</div>
	</div>
	<div id="footer" class="container-fluid">
		<div id="social-icons-container">
			<ul id="social-icon-container">        
				<li id="fb"><a href="https://www.facebook.com/pages/Deviab/1675668492652876?__mref=message_bubble" target="_blank"><img src="/bundles/deviabapp/images/index/fb.png"></a></li>
				<li id="tw"><a href="https://twitter.com/@deviab_energy" target="_blank"><img src="/bundles/deviabapp/images/index/tw.png"></a></li>
				<li id="in"><a href="#"><img src="/bundles/deviabapp/images/index/in.png"></a></li>
			</ul>			
		</div>
		<div id="footer-text">
			<div id="email">info@deviab.com</div>
			<div id="copy-right">Copyright &copy Deviab Research and Implementation Pvt Ltd 2015</div>
		</div>
	</div>
	<script type="text/javascript">
			$('a[href^="#"]').on('click', function(event) {
				var target = $( $(this).attr('href') );
				if( target.length ) {
					event.preventDefault();
					var a = target.offset().top - 100;
					$('html, body').animate({
						scrollTop: a
					}, 1000);
				}
			});
			var h = $(window).height();
			var w = $(window).width();
			var nav_height = $("nav").height();
			var height_about_container = $("#about-container").height();			
			var middle_about = (((h-100)/2) - (height_about_container/2));			
			$(".page-height").css("min-height", h-nav_height);
			$("#overlay").css("height", nav_height);
			$("#bc-img").css("min-height", h-nav_height-banner_height);
			if(middle_about > 40) {
				$("#about-container").css("margin-top",middle_about-40);
			}
			if(w > 765) {
				var height_solutions_container = $("#solutions-container").height();
				var set_margin = (h-100)-height_solutions_container;
				var set_margin = set_margin/2;
				$("#solutions-container").css("margin-top",set_margin);
			}
			var img_height = $("#bc-img").height();
			var nav_height = $("nav").height();
			var banner_height = $("#banner").height();
			$("#home").css("color","#0070B9"); 
			$(window).scroll(function() {
			    var scrollTop = $(window).scrollTop(),
			    	homeOffset = $('#back-img').offset().top,
			        homeDist = (homeOffset - scrollTop);
			        aboutOffset = $('#about-container').offset().top,
			        aboutDist = (aboutOffset - scrollTop);
			        solutionsOffset = $('#solutions-container').offset().top,
			        solutionsDist = (solutionsOffset - scrollTop);
			        contactOffset = $('#footer').offset().top,
			        contactDist = (contactOffset - scrollTop);
			    if (aboutDist >= 90 && aboutDist <= h-nav_height) {
			    	$(".nav-link").css("color","#909090");  
			     	$("#about").css("color","#0070B9");   
			    } else if (solutionsDist >= 90 && solutionsDist <= h-nav_height) {
			    	$(".nav-link").css("color","#909090"); 
			     	$("#solutions").css("color","#0070B9");   
			    }else if (contactDist >= 90 && contactDist <= h-nav_height) {			    	
			    	$(".nav-link").css("color","#909090"); 
			     	$("#contact").css("color","#0070B9");     
			    }else if(homeDist <90 ) {
			    	$(".nav-link").css("color","#909090");  
			     	$("#home").css("color","#0070B9"); 
			    } 
			});
	</script>
</body>
</html> 
